html {
    scroll-behavior: smooth;
    font-family: "ClashDisplay-Variable";
    font-weight: 500;
    background-color: #000000;
}

.CRA__config--root *, 
.CRA__config--root::after, 
.CRA__config--root::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

