html {
    /* min of space between windowborder and content */
    --gutterWidth: 16px;
    /* initial scrollbar width => overriten by calculation ran at app render */
    --scrollbarWidth: 0px;
    /* actual width of the visibile window */
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    /* width of the content layout */
    --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax: 1250px;
    /* padding values */
    --paddingLayoutMin: var(--gutterWidth);
    --paddingLayoutSmall: ;
    --paddingLayoutMedium: ;
    --paddingLayoutLarge: ;
    --paddingLayoutMax: ;
    --paddingLayoutNormal: var(--paddingLayoutMin);

    --paddingContentNone: 0;
    --paddingContentSmall: 8px;
    --paddingContentMedium: 16px;
    --paddingContentLarge: 24px;
    --paddingContentNormal: var(--paddingContentMedium);
    /* gird */
    --gridColumnCount: 2;

    --columnWidth: calc(var(--layoutWidth)/var(--gridColumnCount))
}
@media (min-width: 900px) {
    html {
        --gridColumnCount: 3;
    }
}
@media (min-width: 1250px) {
    html {
        --layoutWidth: var(--layoutWidthMax);
    }
}
:root {
    --guideDashedSize: 1px 8px;
}
/* color flavor */
.flavor--Primary {
    --accentColor: #ff5c00;
}
.theme--Dark {
    --text-color: #ffffff;
    --guideSolidColor: rgba(97, 97, 97, 0.137);
    --guideDashedColor: rgba(97, 97, 97, 0.255);
    --backgroundColor: #121212;
    --backgroundColorLayer1: var(--backgroundColor);
    --backgroundColorLayer2: #292929;
    --backgroundColorLayer3: #6d6464;
    --navColor: #d8d8d8;
    --navSocialColor: #d8d8d8;
    --navTextColor: rgb(231, 215, 215);
    --navHoverColor: var(--accentColor);
    --navHoverOpacity: .6;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 
a {
    text-decoration: none;
}