html {
    /* min of space between windowborder and content */
    --gutterWidth: 16px;
    /* initial scrollbar width => overriten by calculation ran at app render */
    --scrollbarWidth: 0px;
    /* actual width of the visibile window */
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    /* width of the content layout */
    --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax: 1250px;
    /* padding values */
    --paddingLayoutMin: var(--gutterWidth);
    --paddingLayoutSmall: ;
    --paddingLayoutMedium: ;
    --paddingLayoutLarge: ;
    --paddingLayoutMax: ;
    --paddingLayoutNormal: var(--paddingLayoutMin);

    --paddingContentNone: 0;
    --paddingContentXSmall: 4px;
    --paddingContentSmall: 8px;
    --paddingContentMedium: 16px;
    --paddingContentLarge: 24px;
    --paddingContentXLarge: 32px;
    --paddingContentNormal: var(--paddingContentMedium);
    /* gird */
    --gridColumnCount: 2;

    --columnWidth: calc(var(--layoutWidth)/var(--gridColumnCount));

    --borderRadiusSmall: 4px;
    --borderRadiusLarge: 8px;

    --transitionDurationShort: 300ms;
    --transitionDurationMedium: 500ms;
    --transitionDurationLong: 700ms;

    --backgroundSizeDashed: 8px 1px;
}
@media (prefers-reduced-motion: reduce) {
    html {
        --transitionDurationShort: 1ms;
        --transitionDurationMedium: 1ms;
        --transitionDurationLong: 1ms;
    }
}
@media (min-width: 900px) {
    html {
        --gridColumnCount: 3;
    }
}
@media (min-width: 1250px) {
    html {
        --layoutWidth: var(--layoutWidthMax);
    }
}
:root {
    --guideDashedSize: 1px 8px;
}
/* color flavor */
.flavor--Primary {
    --accentColor: #ff5c00;
}
.theme--Dark {
    --textColor: #c9c9c9;
    --guideSolidColor: rgba(97, 97, 97, 0.137);
    --guideDashedColor: rgba(97, 97, 97, 0.255);
    --backgroundColor: #000000;
    --backgroundColorLayer1: var(--backgroundColor);
    --backgroundColorLayer2: #17181b;
    --backgroundColorLayer3: #303030;
    --navColor: #ffffff;
    --navSocialColor: #9696965e;
    --navSocialIconColor: var(--navSocialColor);
    --navTextColor: rgb(51, 51, 51);
    --navHoverColor: var(--accentColor);
    --navHoverOpacity: .6;

    --backdrop: blur(20px);
    --backdropBackgroundLighter: rgba(0, 0, 0, 0.178);
    --backdropBackground: rgba(0, 0, 0, 0.815);
    --backdropBackgroundDarker: rgb(0, 0, 0);
    
    --backdropBorderColor: rgba(59, 59, 59, 0.432);

    --backdropBorderThin: 1px solid var(--backdropBorderColor);
    --backdropBorderThick: 2px solid var(--backdropBorderColor);
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 
a {
    text-decoration: none;
}