.SiteHeader {
    --siteMenuArrowSpacing: 13px;
    --siteMenuArrowOffset: 0;
    --siteMenuTransition: 250ms;
    position: relative;
    background-color: var(--backgroundColor);
}
@media (prefers-reduced-motion: reduce) {
    .SiteHeader {
        /* --siteMenuTransition: 1ms; */
    }
}
@media (max-width: 899px) {
    .SiteHeader {
        --desktopNavDisplay: none;
    }
}
@media (min-width: 900px) {
    .SiteHeader {
        --mobileNavDisplay: none;
        --tabletOverlayDisplay: none;
    }
}
.SiteHeader.variant--Overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background: none;
}
.SiteHeader__container {
    position: relative;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: 0;
}
.SiteHeader__navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px var(--paddingContentNormal) 12px;
}
@media (min-width: 900px) {
    .SiteHeader__navContainer { 
        padding: 12px var(--paddingContentNormal);
    }
}
.SiteHeader__logoLink {
    display: block;
    outline: none;
    padding: 4px;
    margin: -4px;
}
.SiteHeaderNav__list {
    display: var(--desktopNavDisplay, flex);
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.SiteHeaderNavItem__link, 
.SiteHeaderNavItem__link.Link {
    --linkColor: var(--navColor);
    --linkHoverColor: var(--navHoverColor);
    --linkHoverOpactiy: var(--navHoverOpacity);
    display: block;
    padding: 21px 20px;
    letter-spacing: .2px;
    color: var(--linkColor);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.SiteHeaderNavItem__link.Link[aria-haspopup=true],
.SiteHeaderNavItem__link[aria-haspopup=true] {
 cursor:default;
 transition:var(--hoverTransition);
 transition-property:color,opacity
}
.SiteHeaderNavItem__link.Link[aria-expanded=true],
.SiteHeaderNavItem__link[aria-expanded=true] {
 color:var(--linkHoverColor);
 opacity:var(--linkHoverOpacity)
}
.keyboard-navigation .SiteHeaderNavItem__link.Link:focus,
.keyboard-navigation .SiteHeaderNavItem__link:focus {
 box-shadow:var(--focusBoxShadow);
 border-radius:4px
}
.SiteHeaderNavItem__link.Link[aria-haspopup="true"] {
    cursor: default;
    transition: none;
    transition-property: color, opacity;
}
.SiteHeader__ctaNav {
    display: var(--desktopNavDisplay, initial);
}
.SiteHeader__menuContainer {
    display: var(--desktopNavDisplay, block);
    position: absolute;
    top: calc(100% - 1px - var(--siteMenuArrowSpacing));
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    pointer-events: none;
    perspective: 2000px;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity;
    transition: var(--siteMenuTransition);
}
.SiteHeaderArrow {
    --siteHeaderArrowBackgroundColor: var(--cardBackground);
    position: absolute;
    top: 8px;
    left: 50%;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: translateY(12px) translateX(var(--siteMenuArrowOffset)) rotate(45deg);
    border-radius: 3px 0 0 0;
    background-color: var(--siteHeaderArrowBackgroundColor);
    box-shadow: -3px -3px 5px rgba(82,95,127,.04);
    transition-property: transform;
    transition-duration: var(--siteMenuTransition);
    z-index: 2;
}
.SiteHeader--dropdownVisible .SiteHeaderArrow {
    transform:translateY(0) translateX(var(--siteMenuArrowOffset)) rotate(45deg)
   }
.SiteHeader__menu {
    position: absolute;
    top: 0;
    left: 50%;
}
.SiteMenu {
    --siteMenuOffset: 0;
    --siteMenuRotateX: 0;
    display: inline-block;
    padding-top: var(--siteMenuArrowSpacing);
    height: calc(var(--siteMenuHeight) + var(--siteMenuArrowSpacing));
    transform: translateX(-50%) rotateX(var(--siteMenuRotateX));
    transform-origin: 50% -50px;
    transition: var(--siteMenuTransition);
    transition-property: transform, width, height;
    will-change: transform, width, height;
    z-index: 2;
}
.SiteMenu[hidden] {
    --siteMenuRotateX: -15deg;
}
.Card {
    --cardBleedRightNormal: var(--columnWidth);
    --cardBleedBottomNormal: 16px;
    --cardShadow: none;
    --cardShadowMargin: 0;
    --cardMinHeight: 72px;
    position: relative;
    min-width: 100px;
    min-height: var(--cardMinHeight);
    max-width: var(--cardMaxWidth,none);
    margin-right: calc(var(--cardBleedRight, 0)*-1);
    margin-bottom: calc(var(--cardBleedBottom, 0)*-1);
    background: var(--cardBackground);
    box-shadow: var(--cardShadow);
    overflow: hidden;
}
@media (min-width: 600px) {
    /*TODO*/
    .Card {
        max-width: var(--cardMaxWidthTablet,var(--cardMaxWidth));
    }
}
.SiteMenu__card.Card {
    position: relative;
    height: 100%;
    z-index: 1;
}
.SiteMenu__section {
    --siteMenuSectionOffset: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateX(var(--siteMenuSectionOffset));
    transition: var(--siteMenuTransition);
    transition-property: transform,opacity;
    will-change: transform,opacity;
}
.SiteMenu__section[hidden].SiteMenu__section--left {
    --siteMenuSectionOffset: -150px;
}
.SiteMenu__section[hidden].SiteMenu__section--right {
    --siteMenuSectionOffset: 150px;
}
.SiteMenu__section[hidden] {
    opacity: 0;
    pointer-events: none;
}
.SiteMenuSection {
    --siteMenuSpacing: 24px;
    position: relative;
}
@media (min-width: 900px) {
    .SiteMenuSection {
        display: inline-block;
        --siteMenuSpacing: 32px;
    }
}
.SiteMenuSection__body {
    padding: 0;
}
.SiteSubMenu {
    --siteSubMenuBackgroundColor: #f0f3f6;
    --siteSubMenuTriggerOffsetY: 0px;
    --siteSubMenuTriggerOffsetYCenter: 42px;
    --siteSubMenuTriggerBackgroundHeight: 84px;
    --siteSubMenuTriggerTransition: transform 150ms linear,height 150ms;
    --siteSubMenuNavWidth: 264px;
    --siteSubMenuSectionListWidth: 528px;
    --siteSubMenuNavGap: 4px;
    --siteSubMenuSectionListBackgroundRadius: 4px;
    --siteNavIconLabelLineHeight: 24px;
    --siteNavIconBodyLineHeight: 16px;
    display: inline-grid;
    gap: var(--siteSubMenuNavGap);
    grid: auto/var(--siteSubMenuNavWidth) var(--siteSubMenuSectionListWidth);
    padding: 4px;
    border-radius: 0;
    background-color: var(--siteSubMenuBackgroundColor);
}
.SiteSubMenu__nav {
    position: relative;
}
.SiteSubMenu__navHoverBackground {
    position: absolute;
    transform: translateY(var(--siteSubMenuTriggerOffsetY));
    will-change: transform,height;
    z-index: 1;
    width: 100%;
    height: var(--siteSubMenuTriggerBackgroundHeight);
    border-radius: 0px;
    background-color: #fff;
}
.SiteSubNavItem {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.SiteSubNavItem__label {
    color: var(--navColor);
    letter-spacing: .2px;
}
.SiteSubNavItem__body {
    color: #4f5b76;
    letter-spacing: .2px;
}
.SiteSubMenu__sectionList {
    display: flex;
    background-color: #fff;
    border-radius: var(--siteSubMenuSectionListBackgroundRadius);
    overflow: hidden;
}
.SiteSubMenuSection {
    --siteSubMenuSectionNavOffset: 0;
    --siteSubMenuSectionPadding: 28px;
    position: relative;
    transform: translateY(0);
    transition-property: transform,opacity;
    will-change: transform,opacity;
    z-index: 2;
    display: grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: 24px;
    column-gap: 24px;
    width: var(--siteSubMenuSectionListWidth);
    flex-shrink: 0;
    padding: var(--siteSubMenuSectionPadding);
    opacity: 1;
}
.SiteNavList {
    --siteNavIconSpacingTop: 0;
    --siteNavIconSpacingRight: 10px;
    --siteNavListMinWidth: 254px;
}
.SiteSubMenu .SiteNavList {
    --siteNavListMinWidth: 220px;
}
.SiteNavList__list {
    min-width: var(--siteNavListMinWidth);
    margin: 0;
    padding: 0;
    list-style: none;
}
.SiteNavItem {
    --SiteNavItemBodyWhiteSpace: nowrap;
    --SiteNavItemBodyHyphens: none;
    --SiteNavItemBodyWordBreak: normal;
    margin-left: 0;
    letter-spacing: .2px;
}
.SiteNavItem__link {
    display: inline-flex;
    color: #0a2540;
    outline: none;
    align-items: start;
}
.SiteNavItem__iconContainer {
    --iconLightColor: #88add2;
    --iconDarkColor: #0a2540;
    --iconKnockoutColor: #fff;
    flex: 0 0 auto;
    width: var(--siteNavIconSize);
    height: var(--siteNavIconSize);
    margin-top: var(--siteNavIconSpacingTop);
    margin-right: var(--siteNavIconSpacingRight);
}
.SiteNavItem__label {
    color: inherit;
    line-height: var(--siteNavIconLabelLineHeight,inherit);
}
.SiteNavItem__body {
    color: inherit;
    line-height: var(--siteNavIconBodyLineHeight,inherit);
    opacity: .6;
    transition: var(--hoverTransition);
    transition-property: opacity;
    white-space: var(--SiteNavItemBodyWhiteSpace);
    word-break: var(--SiteNavItemBodyWordBreak);
    -webkit-hyphens: var(--SiteNavItemBodyHyphens);
    -ms-hyphens: var(--SiteNavItemBodyHyphens);
    hyphens: var(--SiteNavItemBodyHyphens);
}
.SiteHeader--dropdownVisible .SiteHeader__menuContainer {
    opacity:1
}