.SiteHeader__middleContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--paddingContentSmall) var(--paddingContentNormal);
}
.SiteHeader__middleContainer::after {
    content: "";
    position: absolute;
    max-width: var(--windowWidth);
    bottom: 0;
    left: 0;
    width: 100vw;
    transform: translateX(calc(-1 * ((var(--windowWidth) - var(--layoutWidth))/2)));
    height: 1px;
    background: linear-gradient(90deg,var(--guideDashedColor),var(--guideDashedColor) 50%,transparent 0,transparent);
    background-size: var(--backgroundSizeDashed);
    z-index: 1;
}
.SiteHeader__logoLink {
    display: flex;
    outline: none;
    padding: var(--paddingContentXSmall);
    margin: calc(-1*var(--paddingContentXSmall));
    align-items: center;
    justify-content: center;
}
.SiteHeader__ctaAccount {
    display: var(--desktopNavDisplay, initial);
}
.SiteHeader__loginContainer {
    padding: var(--paddingContentXSmall);
    position: relative;
    height: 40px;
}
.SiteHeader__loginButton {
    background-color: var(--accentColor);
    outline: none;
    border: none;
    border-radius: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.SiteHeaderLogin__labelContainer {
    padding: 0 var(--paddingContentXSmall);
}
