.SiteHeader__navContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 900px) {
    .SiteHeader__navContainer { 
        padding: 0 var(--paddingContentNormal);
    }
}
.SiteHeaderNav__list {
    display: var(--desktopNavDisplay, flex);
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}
.SiteHeaderNavItem__link, 
.SiteHeaderNavItem__link.Link {
    --linkColor: var(--navColor);
    --linkHoverColor: var(--navHoverColor);
    --linkHoverOpactiy: var(--navHoverOpacity);
    --linkHoverTransition: var(--siteMenuTransition);
    display: block;
    padding: 8px 20px;
    letter-spacing: .2px;
    color: var(--linkColor);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.SiteHeaderNavItem__link.Link[aria-haspopup=true],
.SiteHeaderNavItem__link[aria-haspopup=true] {
    cursor: default;
    transition: var(--linkHoverTransition);
    transition-property: color, opacity;
    -webkit-transition: var(--linkHoverTransition);
    -moz-transition: var(--linkHoverTransition);
    -ms-transition: var(--linkHoverTransition);
    -o-transition: var(--linkHoverTransition);
}
.SiteHeaderNavItem__link.Link[aria-expanded=true],
.SiteHeaderNavItem__link[aria-expanded=true] {
    color: var(--linkHoverColor);
    opacity: var(--linkHoverOpacity)
}
.SiteHeaderNavItem__link.Link[aria-haspopup="true"] {
    cursor: default;
    transition: none;
    transition-property: color, opacity;
    -webkit-transition: color, opacity;
    -moz-transition: color, opacity;
    -ms-transition: color, opacity;
    -o-transition: color, opacity;
}