.SiteHeader {
    --siteMenuArrowSpacing: 13px;
    --siteMenuArrowOffset: 0;
    --siteMenuTransition: 250ms;
    --siteMenuBackgroundColor: var(--backgroundColorLayer1);
    --siteMenuBackgroundColorSecondary: var(--backgroundColorLayer2);
    position: sticky;
    width: var(--windowWidth);
    z-index: 1000;
    top: 0;
    transition: background;
    -webkit-transition: background;
    -moz-transition: background;
    -ms-transition: background;
    -o-transition: background;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: var(--transitionDurationMedium);
}
@media (max-width: 899px) {
    .SiteHeader {
        --desktopNavDisplay: none;
    }
}
@media (min-width: 900px) {
    .SiteHeader {
        --mobileNavDisplay: none;
        --tabletOverlayDisplay: none;
    }
}
.SiteHeader.variant--Overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background: none;
}
.SiteHeader.SiteHeader--moved {
    background: var(--siteMenuBackgroundColor);
}
.SiteHeader__container {
    position: relative;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: 0;
}