.SiteMenuSection__footer {
    --siteMenuFooterMargin: 4px;
    border-radius: 4px;
    background-color: var(--backgroundColorLayer2);
    margin: 0 var(--siteMenuFooterMargin) var(--siteMenuFooterMargin) var(--siteMenuFooterMargin);
    padding: calc(var(--siteMenuSpacing) - var(--siteMenuFooterMargin)) calc(var(--siteMenuSpacing) - var(--siteMenuFooterMargin));
}
.SiteStartNav__footerLayout {
    display: inline-grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: var(--siteMenuSpacing);
    column-gap: var(--siteMenuSpacing);
}
.SiteNewsNav__footerLayout {
    display: inline-grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: var(--siteMenuSpacing);
    column-gap: var(--siteMenuSpacing);
}
.SiteVereinNav__footerLayout {
    display: inline-grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: var(--siteMenuSpacing);
    column-gap: var(--siteMenuSpacing);
}
.SiteTeamNav__footerLayout {
    display: inline-grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: var(--siteMenuSpacing);
    column-gap: var(--siteMenuSpacing);
}
.SiteCommunityNav__footerLayout {
    display: inline-grid;
    grid: auto/repeat(2,1fr);
    -moz-column-gap: var(--siteMenuSpacing);
    column-gap: var(--siteMenuSpacing);
}