.SiteHeader {
    --siteMenuArrowSpacing: 13px;
    --siteMenuArrowOffset: 0;
    --siteMenuTransition: 250ms;
    --siteMenuBackgroundColor: var(--backgroundColorLayer1);
    --siteMenuBackgroundColorSecondary: var(--backgroundColorLayer2);
    position: relative;
    background-color: var(--siteMenuBackgroundColor);
    z-index: 1000;
}
@media (prefers-reduced-motion: reduce) {
    .SiteHeader {
        --siteMenuTransition: 1ms;
    }
}
@media (max-width: 899px) {
    .SiteHeader {
        --desktopNavDisplay: none;
    }
}
@media (min-width: 900px) {
    .SiteHeader {
        --mobileNavDisplay: none;
        --tabletOverlayDisplay: none;
    }
}
.SiteHeader.variant--Overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background: none;
}
.SiteHeader__container {
    position: relative;
    max-width: var(--layoutWidth);
    margin: 0 auto;
    padding: 0;
}
.SiteHeader__configContainer,
.SiteHeader__middleContainer,
.SiteHeader__navContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px var(--paddingContentNormal) 12px;
}
.SiteHeader__middleContainer {
    padding: 5px var(--paddingContentNormal);
}
.SiteHeader__configContainer {
    padding: 12px;
}
@media (min-width: 900px) {
    .SiteHeader__configContainer,
    .SiteHeader__navContainer { 
        padding: 0 var(--paddingContentNormal);
    }
    .SiteHeader__configContainer {
        padding: 8px var(--paddingContentNormal);
    }
}
.SiteHeader__middleContainer::after, 
.SiteHeader__configContainer::after {
    content: "";
    position: absolute;
    max-width: var(--windowWidth);
    bottom: 0;
    left: 0;
    width: 100vw;
    transform: translateX(calc(-1 * ((var(--windowWidth) - var(--layoutWidth))/2)));
    height: 1px;
    background: linear-gradient(90deg,var(--guideDashedColor),var(--guideDashedColor) 50%,transparent 0,transparent);
    background-size: 8px 1px;
} 
.SiteHeader__logoLink {
    display: flex;
    outline: none;
    padding: 4px;
    margin: -4px;
    align-items: center;
    justify-content: center;
}
.SiteHeader__ctaNav {
    display: var(--desktopNavDisplay, initial);
}
.SiteHeader__profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.SiteHeader__profileName {
    color: var(--textColor);
}
.SiteHeader__profilePicture {
    width: 45px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.SiteHeaderNav {
    width: 100%;
}
.SiteHeaderNav__list {
    display: var(--desktopNavDisplay, flex);
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}
.SiteHeaderNavItem__link, 
.SiteHeaderNavItem__link.Link {
    --linkColor: var(--navColor);
    --linkHoverColor: var(--navHoverColor);
    --linkHoverOpactiy: var(--navHoverOpacity);
    --linkHoverTransition: var(--siteMenuTransition);
    display: block;
    padding: 8px 20px;
    letter-spacing: .2px;
    color: var(--linkColor);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "ClashDisplay-Bold";
    font-size: 18px;
    text-transform: uppercase;
}
.SiteHeaderNavItem__link.Link[aria-haspopup=true],
.SiteHeaderNavItem__link[aria-haspopup=true] {
    cursor: default;
    transition: var(--linkHoverTransition);
    transition-property: color, opacity
}
.SiteHeaderNavItem__link.Link[aria-expanded=true],
.SiteHeaderNavItem__link[aria-expanded=true] {
    color: var(--linkHoverColor);
    opacity: var(--linkHoverOpacity)
}
.SiteHeaderNavItem__link.Link[aria-haspopup="true"] {
    cursor: default;
    transition: none;
    transition-property: color, opacity;
}
.SiteHeader__search {
    justify-self: center;   
}
.SiteHeader__searchBar {
    background-color: var(--backgroundColorLayer2);
    outline: none;
    border: none;
    color: var(--textColor);
    padding: 5px 10px;
    width: calc(var(--layoutWidth)/3);
    min-width: 200px;
    height: 30px;
}